#pragma code_page(65001)
#include <afxres.h>
#include "resource.h"
IDD_WORKBOOK DIALOGEX 0, 0, 390, 115
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "WRExcel"
FONT 9, "맑은 고딕"
BEGIN
    EDITTEXT IDC_WORKBOOK_PATH, 12, 14, 298, 16, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON "파일 선택", IDC_SELECT_FILE, 318, 13, 60, 18
    PUSHBUTTON "Read", IDC_READ, 12, 44, 116, 24
    PUSHBUTTON "MSVC", IDC_MSVC, 137, 44, 116, 24
    PUSHBUTTON "CSharp", IDC_CSHARP, 262, 44, 116, 24
    LTEXT "Excel 파일을 선택해 주세요.", IDC_STATUS, 12, 80, 366, 26
END
